DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

DB_TARGET=local

DB_ENGINE_AWS=
DB_NAME_AWS=
DB_USER_AWS=
DB_PASSWORD_AWS=
DB_HOST_AWS=
DB_PORT_AWS=3306

DB_NAME_LOCAL=
DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_HOST_LOCAL=127.0.0.1
DB_PORT_LOCAL=3306

AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
AUTH0_ALGORITHMS=RS256
AUTH0_MGMT_CLIENT_ID=
AUTH0_MGMT_CLIENT_SECRET=
AUTH0_MGMT_AUDIENCE=
AUTH0_MGMT_GRANT_TYPE=

ALLOW_AUTO_CREATE_REPUESTO=False
PERMITIR_STOCK_NEGATIVO=False